.navigation{
  background: #ffffff;
  overflow: hidden;
  transition: all .5s;
  width:150px;
  height:100%;
  color:#6b6b6b;
  &-block{
    height:calc(100% - 150px);
    overflow: auto;
    padding:25px;
    &::-webkit-scrollbar {
      width:0;
    }
  }
  &-item{
    &:hover{
      transition: all .5s;
      color:#000000;
      .navigation-iconfont{
        color:#000000;
      }
    }
  }
  &-active{
    width:300px;
  }
  &-iconfont{
    transition: all .5s;
    color:#d3d3d3;
  }
  &-child{
    overflow: hidden;
    transition: all .5s;
    &-item{
      position: relative;
      color:#6b6b6b;
      line-height:30px;
      &:hover{
        color:#000000;
        &::before{
          left:10px;
          top:12.5px;
          position: absolute;
          width:5px;
          height:5px;
          border-radius: 50%;
          background:#000000;
          content:''
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .navigation{
    position: fixed;
    width:0px;
    &-active{
      width:100%;
    }
  }
}